body{
    
    background: linear-gradient(rgba(42, 41, 41, 0.989) 10%, rgb(52, 50, 48), rgb(85, 84, 83) 50%) fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 50px;
    padding: 0px;
    overflow: auto;
    max-width: 500;
    min-width: 200;
    

    /*width: 1150px; 
    height: 130px;*/

}

p{
    /* cor dos paragrafos */
    color: rgb(247, 241, 241);
}
ul{
    /*cor das listas*/
    color: #ffffff;
}

/* cor do id nome-cor*/
#nome-cor{
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(44, 40, 40);
    font-family: bs, Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}

@font-face {
    font-family: bs;
    src: url(./Bad_Script/BadScript-Regular.ttf);
}

#dadospessoais {
    width: auto; /*90vw, 10vh;*/
    height: auto; /*13vw, 20vh;*/
    border-radius: 25px 75px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(74, 71, 71);
    background-color: rgba(67, 65, 63, 0.334);
    background-image: url(img/minha\ foto.jfif);
    background-size: 20% 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin: auto;
    overflow: auto;
    /*background-position-x: 1256px;
    background-position-y: 1000;
    background-attachment: fixed;*/
    font-size: 18px;
    text-align: center
    
    
}



#intro {
    
    text-align: justify;
    width: auto; 
    height: auto;
    /*width: 1150px; 
    height: 130px;*/
    /*background-color: rgb(181, 183, 183);*/
    font-family: bs, Arial, Helvetica, sans-serif;
    font-weight: 800   
}

h3{
    text-shadow: 1px 1px 5px rgb(147, 145, 145);
    font-family: bs, Arial, Helvetica, sans-serif;
}

/* cor e representação das classes. */
.titulos{
    color: rgb(214, 93, 17);
    text-shadow: 2px 1px 18px rgb(0, 0, 0);
    text-align: center; 
    font-style: bold;
    font-weight: 800;
    font-family: bs, Arial, Helvetica, sans-serif;
    /*background-color: rgb(3, 61, 111);*/
}

.estilo-link1{
    color: black;
    padding: 0px;
    background-color: none;
    text-decoration: none;
    border-radius: 1%;
    border-style: hidden;
    
    
}

.estilo-link1:visited{
    color: rgb(221, 71, 26);
}
.estilo-link1:hover{
    padding: 0px 7px;
    border-radius: 15px;
    border: 1px;
    border-style: solid;
    overflow: hidden;
    background-color: rgb(189, 194, 197);
    
}
.estilo-link1:active{
    background-color: rgb(168, 168, 175);
}

img{
        background-image:url(imagen/logo-html-css.png);
        height: auto;
        border: 1px;
        border-radius: 15px;
        margin: 10px; 
        width: 20%;
         }

       

    